* {
    box-sizing: border-box;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
}

table {
    margin: 16px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.odd>td:nth-child(odd) {
    background-color: black;
}

.odd>td:first-child {
    background-color: white !important;
}

.odd>td:first-child,
.odd>td:last-child {
    border: none;
}

.even>td:first-child,
.even>td:last-child {
    border: none;
}

.even>td:nth-child(even) {
    background-color: black;
}

.even>td:last-child {
    background-color: white !important;
}

tbody tr:last-child td,
tbody tr:first-child td {
    background-color: white !important;
    border: none;
}