.container {
    margin: 16px;
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted black;
}

.titel {
    display: none;
    position: absolute;
    background-color: gray;
    color: white;
    bottom: -40px;
    padding: 8px;
    border-radius: 4px;
}

.container:hover .titel {
    display: block;
}