* {
    box-sizing: border-box;
}

.conteiner {
    margin: 32px;
}

.rect {
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    line-height: 100px;
    background-color: coral;
    opacity: 0.5;
    transition: width 1s, opacity 0.5s;
}

.rect:hover {
    width: 100%;
    opacity: 1;
}

.liner {
    transition-timing-function: liner;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.eae-in-out {
    transition-timing-function: ease-in-out;
}